<div class="card">
    <div class="card-header">
      Real Estate
    </div>
    <div class="card-body">
      <table aria-label class="mt-3 mb-0 w-100">
        <tbody>
            <tr>
                <th class="fw-normal w-25">
                    Rental Unit
                </th>
                <th class="fw-bold pl-3">
                    {{ customerDetails?.rentalUnit }}
                </th>
            </tr>
            <tr>
                <th class="fw-normal w-25">
                    Commercial properties
                </th>
                <th class="fw-bold pl-3">
                    {{ customerDetails?.commercialProperty }}
                </th>
            </tr>
            <tr>
                <th class="fw-normal w-25">
                    Yearly property taxes
                </th>
                <th class="fw-bold pl-3">
                    {{ customerDetails?.yearlyPropertyTax }}
                </th>
            </tr>
        </tbody>
      </table>
    </div>
  </div>