<div class="card">
    <div class="card-header">
      Beneficiaries
    </div>
    <div class="card-body">
      <table aria-label class="mt-3 mb-0 w-50 pt-4">
        <tbody>
            <tr>
                <th class="fw-normal w-25">
                    SSN
                </th>
                <th class="fw-bold pl-3">
                    123456789
                </th>
            </tr>
            <tr>
                <th class="fw-normal w-25">
                    Date of birth
                </th>
                <th class="fw-bold pl-3">
                    Dec-09-1995
                </th>
            </tr>
            <tr>
                <th class="fw-normal w-25">
                    Share %
                </th>
                <th class="fw-bold pl-3">
                    100%
                </th>
            </tr>
            <tr>
                <th class="fw-normal w-25">
                    Legal Heir
                </th>
                <th class="fw-bold pl-3">
                    Per stripes 
                </th>
            </tr>
        </tbody>
      </table>
    </div>
  </div>